.section-gap {
    padding: 120px 0;
}

.relative {
    position: relative;
}

.overlay-bg {
    position: absolute;
    inset: 0;
    background: rgba(17, 22, 24, 0.75);
    z-index: 0;
    /* Ensure it sits below the content */
}

.reservation-area .container {
    position: relative;
    z-index: 1;
    /* Place content above the overlay */
}



.reservation-area {
    background: url("/assets/images/quote-image.jpeg") no-repeat center/cover;
    position: relative;
    color: WHITE !important;
}

.reservation-left h1,
.reservation-left p {
    color: #fff;
}

.reservation-right .form-wrap {
    background: #fff;
    padding: 100px 40px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reservation-right .form-control,
.reservation-right select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.primary-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #0056b3;
}