<div class="container-fluid d-flex align-items-center justify-content-between header">
  <img [src]="headerData.logoUrl" width="100px"/>
  <div class="d-flex align-items-center">
    @for (item of headerData.menu; track item.label) {
      <button class="menu-items" mat-button [matMenuTriggerFor]="menu"  
     > {{item.label}}</button>
        <mat-menu #menu="matMenu">
          @for (subItem of item.subMenu; track $index) {
          <button mat-menu-item>{{subItem.label}}</button>
          }
        </mat-menu>
      }
      <mat-icon class="responsive-menu cursor-pointer" aria-hidden="false"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"  fontIcon="view_headline"></mat-icon>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header justify-content-end">
          <mat-icon data-bs-dismiss="offcanvas" aria-label="Close" fontIcon="close"></mat-icon>
        </div>
        <div class="offcanvas-body">
         
        </div>
      </div>
  </div>
  <button class="contact" mat-raised-button>Contact us</button>

 
 
</div>