<div class="navbar-header">
  <img [src]="headerData.logoUrl" class="logo" />
  <div class="navbar-left">
    <div class="header">
      <a href="#home">Home</a>
      <div class="dropdown">
        <a href="#about">About</a>
        <div class="dropdown-content">
          <a href="#about-arbormaster">About ArborMaster</a>
          <a href="#message-president">Message From President</a>
          <a href="#history">Our History</a>
          <a href="#testimonials">Testimonials</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#education-training">Education & Training</a>
        <div class="dropdown-content">
          <a href="#types-training">Types of Training</a>
          <a href="#private-on-site">Private On Site</a>
          <a href="#open-enrollment">Open Enrollment</a>
          <a href="#faq">FAQ</a>
          <a href="#registration-info">Registration Information</a>
        </div>
      </div>
      <a href="#gallery">Gallery</a>
      <a href="#course-schedule">Course Schedule / Locations & Where To Stay</a>
      <a href="#beyond-training">Beyond Training</a>
      <div class="dropdown">
        <a href="#who-we-serve">Who We Serve</a>
        <div class="dropdown-content">
          <a href="#utility">Utility</a>
          <a href="#government-military">Government & Military</a>
          <a href="#commercial-residential">Commercial & Residential</a>
        </div>
      </div>
      <a href="#blog">Contact us</a>
    </div>
    <mat-icon class="responsive-menu cursor-pointer" aria-hidden="false" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight" fontIcon="view_headline"></mat-icon>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header justify-content-end">
        <mat-icon data-bs-dismiss="offcanvas" aria-label="Close" fontIcon="close"></mat-icon>
      </div>
      <div class="offcanvas-body">
      </div>
    </div>
  </div>
</div>