.responsive-menu{
  display: none;
  cursor: pointer;
}

.header{
    position: fixed;
    z-index: 1;
    background: white;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.offcanvas{
background: #272a2f !important;
color: white !important;
}
.btn-close{
color: white !important;
}




.menu-items::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: black; /* Underline color */
  transition: width 0.5s ease; /* Transition effect */
}

/* On hover, expand the underline */
.mdc-button:hover::after {
  width: 100%;
}
@media (max-width: 1000px) {
  .responsive-menu {
   display: block !important;
  }
  .menu-items,.contact{
      display: none;
  }
 
}