<div class="container-fluid d-flex align-items-center justify-content-between header">
  <img [src]="headerData.logoUrl" width="100px"/>
  <div class="d-flex align-items-center">
    @for (item of headerData.menu; track item.label) {
      <button class="menu-items" mat-button   
     > {{item.label}}</button>
      }
      <mat-icon class="responsive-menu cursor-pointer" aria-hidden="false"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"  fontIcon="view_headline"></mat-icon>

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header justify-content-end">
          <mat-icon data-bs-dismiss="offcanvas" aria-label="Close" fontIcon="close"></mat-icon>
        </div>
        <div class="offcanvas-body">
          <mat-list role="list">
            @for (item of headerData.menu; track item.label) {
            <mat-list-item role="listitem">{{item.label}}</mat-list-item>
            <hr/>
            }
          </mat-list>
        </div>
      </div>
  </div>
  <button class="contact" mat-button>Contact us</button>

 
 
</div>