html,
body {
    height: 100%;
    margin: 0;
}



.sticky-header {
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 0;
    z-index: 10; /* Ensure it stays above other elements */
    background: white; /* Prevent transparency when overlapping content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Optional for better visibility */
}




