/* You can add global styles to this file, and also import other style files */


body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}
.mat-mdc-button:not(:disabled){
    color:  black!important;
}
.mat-mdc-menu-panel{
    background: white !important;
}
.mat-mdc-raised-button:not(:disabled){
    color: black !important;
}
mat-icon{
  cursor: pointer;
}
.offcanvas-body .mdc-list-item__primary-text{
  color: white !important;
  cursor: pointer;
}

