<div class="dmFooterContainer">
  <div id="fcontainer" class="u_fcontainer f_hcontainer dmFooter p_hfcontainer">
    <div class="dmFooterResp generalFooter" id="1943048428">
      <div class="u_1406530868 dmRespRow hasBackgroundOverlay" style="text-align: center;" id="1406530868">
        <div class="dmRespColsWrapper" id="1821924981">
          <div class="dmRespCol small-12 medium-12 large-12 u_1856134377" id="1856134377">
            <span id="1554110250"></span>
            <div class="dmNewParagraph" id="1782213391">
              <p class="text-align-center font-size-30">Follow Us</p>
            </div>
            <div class="dmNewParagraph" id="1325093510">
              <p class="text-align-center font-size-18">Keep up with our latest news</p>
            </div>
            <hr class="dmDivider">
            <div class="dmSocialHub">
              <a href="https://facebook.com/arbormastertraining" target="_blank" aria-label="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://instagram.com/arbormastertraininginc/" target="_blank" aria-label="instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com/company/arbormaster-training-inc./" target="_blank"
                aria-label="linkedin">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a href="https://www.youtube.com/@arbormastertraining1477" target="_blank" aria-label="youtube">
                <i class="fab fa-youtube"></i>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class=" footer-side-left">
      <div class="footer-logo">
        <img [src]="footerdata.logoUrl" alt="Logo" class="logo" />
      </div>
      <div id="footer-links" class="flex-element group">
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    <div id="widget_avss" data-auto="flex-element-widget-wrapper" data-widget-type="image"
      data-external-id="1435219697">
      <div id="widget_okm" data-auto="flex-element-widget-wrapper" data-widget-type="paragraph"
        data-external-id="1788607556">
        <div class="dmNewParagraph" data-element-type="paragraph" data-version="5" id="1788607556" style="">
          <p class="text-align-left m-text-align-center size-16 m-size-18"><span class="font-size-16 m-font-size-18"
              m-font-size-set="true"
              style="display: unset; color: rgb(16, 136, 201); font-weight: bold; text-transform: uppercase;">Contact
              Information</span></p>
        </div>
      </div>
      <div id="widget_avs" data-auto="flex-element-widget-wrapper" data-widget-type="image"
        data-external-id="1435219697">
        <div class="imageWidget align-center u_1435219697" data-element-type="image" data-widget-type="image"
          id="1435219697" editablewidget="true"> <a href="tel:860-429-5028" id="1702883763" class="" file="false"
            target="_blank"><img src="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer_Phone.webp"
              alt="" id="1802863480" class=""
              data-dm-image-path="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer_Phone.webp"
              width="510" height="143" onerror="handleImageLoadError(this)"></a>
        </div>
      </div>
      <div id="widget_dja" data-auto="flex-element-widget-wrapper" data-widget-type="image"
        data-external-id="1108864883">
        <div class="imageWidget align-center u_1108864883" data-element-type="image" data-widget-type="image"
          id="1108864883" editablewidget="true"><img
            src="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer-Address.webp" alt=""
            id="1018901326" class=""
            data-dm-image-path="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer-Address.webp"
            width="510" height="143" onerror="handleImageLoadError(this)"></div>
      </div>
      <div id="widget_g52" data-auto="flex-element-widget-wrapper" data-widget-type="image"
        data-external-id="1554867706">
        <div class="imageWidget align-center u_1554867706" data-element-type="image" data-widget-type="image"
          id="1554867706" editablewidget="true"> <a href="tel:860-429-5028" id="1206176158" class="" target="_blank"
            file="false"><img src="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer_Fax.webp"
              alt="" id="1117045033" class=""
              data-dm-image-path="https://irp.cdn-website.com/9513fda8/dms3rep/multi/Arbor-Master_Footer_Fax.webp"
              width="510" height="143" onerror="handleImageLoadError(this)"></a>
        </div>
      </div>
    </div>
  </div>
</div>