<div class="footer-section">
  <div class="mat-footer-right">
    <p>About the company</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod convallis velit.</p>
    <div class="social-icons">
      <button mat-icon-button><mat-icon>facebook</mat-icon></button>
      <button mat-icon-button><mat-icon>twitter</mat-icon></button>
      <button mat-icon-button><mat-icon>linkedin</mat-icon></button>
      <button mat-icon-button><mat-icon>github</mat-icon></button>
    </div>
  </div>
</div>
<div class="mat-footer">
  <div class="mat-footer-left">
    <img src="{{footerdata.logoUrl}}" alt="Company Logo" class="footer-logo">
    <p class="footer-links">
      <a mat-button href="#">Privacy Policy</a> |
      <a mat-button href="#">Terms & Conditions</a>
    </p>
    <p>Company Name © 2025</p>
  </div>
  <div class="mat-footer-center">
    <div class="contact-item">
      <mat-icon>location_on</mat-icon>
      <p><span>444 S. Cedros Ave</span> Solana Beach, California</p>
    </div>
    <div class="contact-item">
      <mat-icon>phone</mat-icon>
      <p>+1.555.555.5555</p>
    </div>
    <div class="contact-item">
      <mat-icon>email</mat-icon>
      <p><a href="mailto:support&#64;company.com">support&#64;company.com</a></p>
    </div>
  </div>
</div>