.footer-section {
    width: 100%;
    display: inline-block;
    background: #6e8385;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

.mat-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: white;
    color: rgb(7, 6, 6);
}



.mat-footer h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.footer-links a {
    color: rgb(14, 13, 13);
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item mat-icon {
    margin-right: 10px;
}

.social-icons button {
    margin-right: 10px;
    color: rgb(46, 43, 43);
}

.social-icons button mat-icon {
    font-size: 20px;
}

/* Add responsiveness for smaller screens */
@media (max-width: 880px) {
    .mat-footer {
        flex-direction: column;
        padding: 15px;
    }

    .mat-footer-left,
    .mat-footer-center,
    .mat-footer-right {
        min-width: auto;
        width: 100%;
        text-align: center;
    }

    .footer-links {
        text-align: center;
    }

    .contact-item {
        justify-content: center;
    }

    .social-icons {
        text-align: center;
    }
}